@model NLayerApp.Views.ViewModels.EntityComponentViewModel
<h1>Update @Model.ModelType.Name</h1>

<a href="../Index">Back To List</a>   
@using(Html.BeginForm())
{
    
    <ul>
        @await Component.InvokeAsync("Entity", new { entityType = Model.ModelType, modelInstance = Model.ModelInstance, viewType= Model.ViewType })
        <button type="submit" value="submit">Update</button>   
    </ul>
    @Html.AntiForgeryToken() 
}