@using System.Reflection
@using System.Linq
@using System.ComponentModel
@using NLayer.Blazor.WebAssembly.Models

@typeparam TItem

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2100553">brief survey</a>
    </span>
    and tell us what you think.
</div>
<ul>
    @foreach (var item in Items)
    {
        @ItemTemplate(item)
    }
</ul>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public CRUDOperations Operation { get; set; }
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public List<TItem> Items { get; set; }

    private List<object> _properties = new List<object>();
    
    protected override async Task OnInitializedAsync()
    {
        ((INotifyPropertyChanged)Items.First()).PropertyChanged += (sender, args) => {
            Console.WriteLine(args);
        };
        @foreach(var item in Items)
            @foreach(var property in typeof(TItem).GetProperties())
            {
                Console.WriteLine(property.Name);
                _properties.Add(property.GetValue(item));
            }
    } 
}
