@page "/"
@using NLayerApp.Blazor.WebAssembly.Models
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<MarkdownComponent FromUrl="https://raw.githubusercontent.com/aspnet/AspNetCore.Docs/master/README.md">

</MarkdownComponent>
<ReflectionTest Operation="CRUDOperations.Create" Items="test" TItem="Member">
    <ItemTemplate>
        <li>
            <input type="text" @bind="@context.firstName"/>
            <input type="text" @bind="@context.lastName"/>
        </li>
    </ItemTemplate>
</ReflectionTest>

@code {

    List<Member> test = new List<Member> {
        new Member { 
            Id = 11,
            firstName = "firstName1",
            lastName = "lastName1"
        },
        new Member { 
            Id = 12,
            firstName = "firstName2",
            lastName = "lastName2"
        },
        new Member { 
            Id = 13,
            firstName = "firstName3",
            lastName = "lastName3"
        }
    };

    void InputChange(ChangeEventArgs e) {
        Console.WriteLine(e.Value);
        Console.WriteLine(e);
    }
}