@*model NLayerdApp.Models.Member*@
@model NLayerdApp.Views.ViewModels.EntityComponentViewModel
<h1>Add</h1>
@*using(Html.BeginForm())
{
    @Html.EditorFor(m => m.Id)
    <br/>
    @Html.EditorFor(m => m.CreatedAt)
    <br/>
    @Html.EditorFor(m => m.ModifiedAt)
}*@

@await Component.InvokeAsync("Entity", new { ModelType = Model.ModelType })